@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

  :root {
  --bg-color: #3A98B9;
  --header-font:'Oxygen', sans-serif;
  --text-font: 'Roboto', sans-serif;
  --fg-color: #EEEEEE;
  --button-color: #E8D5C4;
  --dark: #06283D;
}

body {
  background-color: var(--bg-color) !important;
  color: var(--fg-color);
  font-size: 16px;
  font-family: var(--text-font);
}

.title {
  display: flex;
  font-size: 5rem;
  top: 10;
  font-family: var(--header-font);
  right: 10;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: var(--fg-color);
  font-weight: 500;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase;
  justify-content: center;
}

#titleDiv {
  position: relative;
  top: -20px;
}

.textareaData {
  width: 500px;
  height: 300px;
  padding: 10px;
  font-size: 25px;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  border: 1px solid lightgray;
  resize: none;
}

.textareaKey {
  width: 200px;
  height: 100px;
  padding: 10px;
  font-size: 10px;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  border: 1px solid lightgray;
  resize: none;
}

.description {
  font-family: var(--text-font);
  font-size: 25px;
  position: relative;
  top: -40px;
  margin: auto;
  width: 90%;
}
/*
.upload {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  height: 70px;
  width: 200px;
  line-height: 34px;
  font-size: 25px;
  color: #ffffff;
  background-color: #007c89;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 0 18px;
  position: relative;
  
}

.upload:hover {
  color: #ffffff;
  background-color: #010404;
}
*/
.buttons {
  border-radius: 3px;
  color: var(--fg-color) !important;
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: fit-content;
  height: auto;
  align-items: center;
  font-family: var(--header-font);
  margin: auto;
  margin-top: 10%;
 padding: 20px;
 border: solid var(--dark) 3px;
}

.button {
width: 7rem;
height: 4rem;
font-size: 1rem;
background-color: #256D85;
color: var(--fg-color);
border: solid var(--fg-color) 3px;
transition: transform ease 0.4s,color ease 0.2s, background-color ease 0.3s;
animation: 15s infinite linear;
border-radius: 4px;

}

.button:hover {
  background-color: var(--fg-color);
  color: var(--dark);
  transform: translate(2px, -5px);
}
/*
.retrieve {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  height: 70px;
  line-height: 34px;
  font-size: 14px;
  
 
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 0 18px;
  position: relative;
  left: 50px;
  width: 200px;
  font-size: 25px;
}

.retrieve:hover {
  color: #241c15;
  background-color: #1b1b1b;
}

.patterns {
  width: 100vw;
  height: 100vw;
}

.pt1 {
  background-size: 50px 50px;
  background-color: #0ae;
  background-image: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%,
    transparent
  );
  background-image: -moz-linear-gradient(
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%,
    transparent
  );
  background-image: -ms-linear-gradient(
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%,
    transparent
  );
  background-image: -o-linear-gradient(
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%,
    transparent
  );
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%,
    transparent
  );
}
*/

.foreground {
  background: var(--fg-color);
  height: auto;
  width: 80%;
  border-radius: 10px;
  padding: 30px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  border: solid var(--dark);
}



#key {
  border-radius: 5px;
  background: rgb(249, 250, 250);
  border: 1px solid rgb(181, 189, 196);
  font-size: 16px;
  height: 25px;
  line-height: 24px;
  padding: 7px 8px;
  color: rgb(8, 9, 10);
  box-shadow: none;
  position: relative;
  right: 50px;
  top: 20px;
}

#key:focus {
  background-color: #fff;
  border-color: #3b49df;
  box-shadow: 1px 1px 0 #3b49df;
}

.keyDiv {
  
}

.formLabel {
  font-size: 1rem;
  position: relative;
  
}

.inbody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.valueDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}


.valueLabelDiv {
  position: relative;
  bottom: 25px;
}

textarea {
  width:90%;
  height: 450px;
  padding: 10px;
  font-size: 25px;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  border: 1px solid lightgray;
  resize: none;
}

.warningText {
  color: rgb(8, 9, 10);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  bottom: -15px;
  font-size: 16px;
}

.devName {
  font-size: 15px;
  top: -40px;
  font-family: "Roboto", "Oswald";
  position: relative;
  right: 10;
  font-family: "Arial Black", Gadget, sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
 .foreground {
  width: 70%;
 }

.maintext {
  display: flex;
  justify-content: center;
  align-items: center;
}
}