body {
  background-color: #9cc7ea;
  color: white;
  font-size: 16px;
}

.title {
  font-size: 60px;
  top: 10;
  font-family: "Roboto", "Oswald";
  position: relative;
  right: 10;
  font-family: "Arial Black", Gadget, sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase;
}

#titleDiv {
  position: relative;
  top: -20px;
}

.textareaData {
  width: 500px;
  height: 300px;
  padding: 10px;
  font-size: 25px;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  border: 1px solid lightgray;
  resize: none;
}

.textareaKey {
  width: 200px;
  height: 100px;
  padding: 10px;
  font-size: 10px;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  border: 1px solid lightgray;
  resize: none;
}

.description {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  position: relative;
  top: -40px;
}

.upload {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 70px;
  width: 200px;
  line-height: 34px;
  font-size: 25px;
  color: #ffffff;
  background-color: #007c89;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 0 18px;
  position: relative;
  right: 50px;
}

.upload:hover {
  color: #ffffff;
  background-color: #010404;
}

.buttons {
  position: relative;
  top: 100px;
}

.retrieve {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 70px;
  line-height: 34px;
  font-size: 14px;
  color: #ffffff;
  background-color: #374a3a;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 0 18px;
  position: relative;
  left: 50px;
  width: 200px;
  font-size: 25px;
}

.retrieve:hover {
  color: #241c15;
  background-color: #d9d7cd;
}

.patterns {
  width: 100vw;
  height: 100vw;
}

.pt1 {
  background-size: 50px 50px;
  background-color: #0ae;
  background-image: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%,
    transparent
  );
  background-image: -moz-linear-gradient(
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%,
    transparent
  );
  background-image: -ms-linear-gradient(
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%,
    transparent
  );
  background-image: -o-linear-gradient(
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%,
    transparent
  );
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%,
    transparent
  );
}

.foreground {
  background: #f5eeee;
  height: 260px;
  width: 1000px;
  position: relative;
  border-radius: 10px;
  padding: 20px;
}

#key {
  border-radius: 5px;
  background: rgb(249, 250, 250);
  border: 1px solid rgb(181, 189, 196);
  font-size: 16px;
  height: 25px;
  line-height: 24px;
  padding: 7px 8px;
  color: rgb(8, 9, 10);
  box-shadow: none;
  position: relative;
  right: 50px;
  top: 20px;
}

#key:focus {
  background-color: #fff;
  border-color: #3b49df;
  box-shadow: 1px 1px 0 #3b49df;
}

.keyDiv {
  justify-content: center;
  align-items: center;
}

.formLabel {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  position: relative;
  right: 70px;
  top: 20px;
}

.formLabel2 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 30px;
  position: relative;
}

.valueDiv {
  position: relative;
  top: 60px;
}

.valueDiv2 {
  position: relative;
  top: 60px;
}

.valueLabelDiv {
  position: relative;
  bottom: 25px;
}

.myButton {
  position: relative;
  top: 100px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #fff;
  background: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  width: 200px;
  padding: 12px 20px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  top: 75px;
}

.myButton:hover {
  color: #000;
  background: rgb(255, 218, 87);
}

.myButton2 {
  position: relative;
  top: 100px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #fff;
  background: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  width: 200px;
  padding: 12px 20px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  top: 10px;
  top: 20px;
}

.myButton2:hover {
  color: #000;
  background: rgb(255, 218, 87);
}

textarea {
  width: 1000px;
  height: 500px;
  padding: 10px;
  font-size: 25px;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  border: 1px solid lightgray;
  resize: none;
}

.warningText {
  color: rgb(8, 9, 10);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  bottom: -15px;
  font-size: 16px;
}

.devName {
  font-size: 15px;
  top: -40px;
  font-family: "Roboto", "Oswald";
  position: relative;
  right: 10;
  font-family: "Arial Black", Gadget, sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase;
}
